#container {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#container2 {
    color: white;
    padding: 50px;
    width: 300px;
    height: 300px;
    background: #6C7A89;
}

body {
    margin: 0px;
}